<h1>Services</h1>

<%= form_tag "/accounts" do %>
  <%= label_tag "Mailgun" %>
  <%= hidden_field_tag 'name', "mailgun" %>
  <%= text_field_tag "api_key", @mailgun['api_key'] %>
  <%= submit_tag "Save", :class => 'button hot' %>
<% end %>

<%= form_tag "/accounts" do %>
  <%= label_tag "Pivotal" %>
  <%= hidden_field_tag 'name', "pivotal" %>
  <%= text_field_tag "api_key", @pivotal['api_key'] %>
  <%= submit_tag "Save", :class => 'button hot' %>
  <%= link_to "Initial Import (may take awhile)", "/pivotal/import"  %>
<% end %>

<%= form_tag "/accounts" do %>
  <%= label_tag "Wufoo" %>
  <%= hidden_field_tag 'name', "wufoo" %>
  <%= text_field_tag "api_key", @wufoo['api_key'] %>
  <%= submit_tag "Save", :class => 'button hot' %>
<% end %>

<%= form_tag "/accounts" do %>
  <%= label_tag "Stripe" %>
  <%= hidden_field_tag 'name', "stripe" %>
  <%= text_field_tag "api_key", @stripe['api_key'] %>
  <%= submit_tag "Save", :class => 'button hot' %>
<% end %>


<div id="custom_data" style="padding-top: 20px;">
  <h2>Custom data</h2>
  <p>Already using Google Analytics or Mixpanel? Great.</br>
    Just drop this IdoShare script into your page <strong>After those libraries</strong> and it will start collecting your exisiting events.</p>

  </code>
  <pre>
    &lt;script src="GoogleAnalytics"&gt;&lt;/script&gt;
    &lt;script src="Mixpanel"&gt;&lt;/script&gt;
    <strong>&lt;script src="<%= request.protocol %><%= request.host %>/ido_share.js"&gt;&lt;/script&gt;</strong>
  </pre>
</div>
