<h1>Services</h1>

<%= form_tag "/accounts" do %>
  <%= label_tag "Mailgun" %>
  <%= hidden_field_tag 'name', "mailgun" %>
  <%= text_field_tag "api_key", @mailgun.settings['api_key'] %>
  <%= submit_tag "Save", :class => 'button hot' %>
  <% if @mailgun.webhook_url %>
  Use this as the mailgun webhook url: <%= @mailgun.webhook_url %>
  <% end %>
<% end %>

<%= form_tag "/accounts" do %>
  <%= label_tag "Pivotal" %>
  <%= hidden_field_tag 'name', "pivotal" %>
  <%= text_field_tag "api_key", @pivotal.settings['api_key'] %>
  <%= submit_tag "Save", :class => 'button hot' %>
  <%= link_to "Initial Import (may take awhile)", "/pivotal/import"  %>
  <% if @pivotal.webhook_url %>
  Use this as the Pivotal webhook url: <%= @pivotal.webhook_url %>
  <% end %>
<% end %>

<%= form_tag "/accounts" do %>
  <%= label_tag "Wufoo" %>
  <%= hidden_field_tag 'name', "wufoo" %>
  <%= text_field_tag "api_key", @wufoo.settings['api_key'] %>
  <%= submit_tag "Save", :class => 'button hot' %>
  <% if @wufoo.webhook_url %>
  Use this as the Wufoo webhook url: <%= @wufoo.webhook_url %>
  <% end %>

<% end %>

<%= form_tag "/accounts" do %>
  <%= label_tag "Stripe" %>
  <%= hidden_field_tag 'name', "stripe" %>
  <%= text_field_tag "api_key", @stripe.settings['api_key'] %>
  <%= submit_tag "Save", :class => 'button hot' %>
  <% if @stripe.webhook_url %>
  Use this as the Stripe webhook url: <%= @stripe.webhook_url %>
  <% end %>

<% end %>

<p>
  <% if @github.webhook_url %>
  Use this as the GitHub webhook url: <%= @github.webhook_url %>
  <% end %>
</p>

<div id="custom_data" style="padding-top: 20px;">
  <h2>Custom data</h2>
  <h3>Include ido_share.js</h3>
  <p>Already using Google Analytics or Mixpanel? Great.</br>
    Just drop this IdoShare script into your page <strong>After those libraries</strong> and it will start collecting your exisiting events.</p>
 <pre>
  &lt;script type="text/javascript"&gt;Your Google Analytics Code&lt;/script&gt;
  &lt;script type="text/javascript"&gt;Your Mixpanel Code&lt;/script&gt;
  <strong>&lt;script type="text/javascript" src="<%= script_url %>.js"&gt;&lt;/script&gt;</strong>
</pre>

   <h3>Publishing events</h3>

<pre>
  &lt;script type="text/javascript" src="<%= script_url %>.js"&gt;&lt;/script&gt;
  <strong>&lt;script type="text/javascript" &gt;
    IdoShare.push({
      category: "IdoShare category"
      ,name: "IdoShare name"
      ,data: {} //javascript object with your data in.
    });
  &lt;/script&gt;
  </strong>
</pre>

</div>
